.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #F5F5F5;
    height: 85px;
    background-image: linear-gradient(to right,#6A2BC2,#F44839);
    color: white;
}
.nav-item a{
    text-decoration: none;
    color: white;
}
.nav-item{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    padding: 7%;
}
#logo{
    background-color: white;
    /* add slanting behaviour */
    transform: skew(25deg);
    margin-left: -25px;
}
.logo-img{
    transform: skew(-25deg);
    height: 48px;
    width: 105px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.header .icon {
    display: none;
}
